@using System.Globalization;
@{
    ViewData["Title"] = "ThongKe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thống kê từ ngày @DateTime.ParseExact(ViewBag.beginday, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("dd-MM-yyyy") đến ngày @DateTime.ParseExact(ViewBag.endday, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("dd-MM-yyyy") </h2>
<div class="form-group" style="color:black">
    <input type="date" id="beginday" value="@ViewBag.beginday" />
    <input type="date" id="endday" value=@ViewBag.endday />
    <input id="xem" class="btn btn-primary" value="Xem" onclick="btnView()" />
</div>
<a onclick="btnView0()" class="btn btn-default">Đang đặt</a>
<a onclick="btnView1()" class="btn btn-default">Đang mượn</a>
<a onclick="btnView2()" class="btn btn-default">Đã trả</a>
<script>
    function btnView() {
        var bd = document.getElementById("beginday").value;
        var ed = document.getElementById("endday").value;
        window.location.href = "/QuanLy/ThongKeTheoNgay?beginday=" + bd + "&&endday=" + ed;
    }
    function btnView0() {
        var id = 0;
        var bd = document.getElementById("beginday").value;
        var ed = document.getElementById("endday").value;
        window.location.href = "/QuanLy/ThongKeTheoNgay?id=" + id + "&&beginday=" + bd + "&&endday=" + ed;
    }
    function btnView1() {
        var id = 1;
        var bd = document.getElementById("beginday").value;
        var ed = document.getElementById("endday").value;
        window.location.href = "/QuanLy/ThongKeTheoNgay?id=" + id + "&&beginday=" + bd + "&&endday=" + ed;
    }
    function btnView2() {
        var id = 2;
        var bd = document.getElementById("beginday").value;
        var ed = document.getElementById("endday").value;
        window.location.href = "/QuanLy/ThongKeTheoNgay?id=" + id + "&&beginday=" + bd + "&&endday=" + ed;
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã phiếu
            </th>
            <th>
                Tên độc giả
            </th>
            <th>
                Tên sách
            </th>
            <th>
                Tên nhân viên
            </th>
            <th>
                Tên chi nhánh
            </th>

            <th>
                Phí mượn
            </th>
            <th>
                Tiền cọc
            </th>
            <th>
                Ngày mượn
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày trả thực
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Result)
        {
            <tr>
                <td>
                    @item.IDPhieu
                </td>
                <td>
                    @item.TenDocGia
                </td>
                <td>
                    @item.TenSach
                </td>
                <td>
                    @item.TenNhanVien
                </td>
                <td>
                    @item.TenChiNhanh
                </td>
                <td>
                    @item.PhiMuon
                </td>
                <td>
                    @item.TienCoc
                </td>
                <td>
                    @item.NgayMuon
                </td>
                <td>
                    @if (item.TrangThai == 0)
                    {
                        @:Đang đặt
                    }
                    @if (item.TrangThai == 1)
                    {
                        @:Đang mượn
                    }
                    @if (item.TrangThai == 2)
                    {
                        @:Đã trả
                    }
                </td>
                <td>
                    @item.NgayTraThuc
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
</script>