@model IEnumerable<QuanLyThuVien.ViewModels.viewMuonSach>

@{
    ViewData["Title"] = "ThongKe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thống kê</h2>
<div class="form-group" style="color:black">
    <input type="date" id="beginday" />
    <input type="date" id="endday" />
    <input class="btn btn-primary" value="Xem" onclick="btnView()" />
</div>
<a href="~/QuanLy/ThongKe/0" class="btn btn-default">Đang đặt</a>
<a href="~/QuanLy/ThongKe/1" class="btn btn-default">Đang mượn</a>
<a href="~/QuanLy/ThongKe/2" class="btn btn-default">Đã trả</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPhieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDocGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChiNhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrangSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhiMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTraThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDPhieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDocGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenChiNhanh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrangSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhiMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TienCoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuon)
                </td>
                <td>
                    @if (item.TrangThai == 0)
                    {
                        @:Đang đặt
                    }
                    @if (item.TrangThai == 1)
                    {
                        @:Đang mượn
                    }
                    @if (item.TrangThai == 2)
                    {
                        @:Đã trả
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTraThuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function btnView() {
        var bd = document.getElementById("beginday").value;
        var ed = document.getElementById("endday").value;
        window.location.href = "/QuanLy/ThongKeTheoNgay?beginday=" + bd + "&&endday=" + ed;
    }
</script>