@model QuanLyThuVien.ViewModels.viewSach

@{
    ViewData["Title"] = "DetailsPopup";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<h2>Thông tin chi tiết</h2>

<div>
    <h4>@Model.TenSach</h4>
    <hr />
    <div class="col-lg-3 details-img">
        <img src="~/HinhAnh/@Model.HinhAnh" alt="Alternate Text" class="details-img1" />
    </div>
    <dl class="dl-horizontal col-lg-9">
        <dt>
            @Html.DisplayNameFor(model => model.IDSach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDSach)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoTrang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoTrang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TienMua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TienMua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TienMuon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TienMuon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.XepHangTb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XepHangTb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DanhGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDanhGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDanhGia)
        </dd>
    </dl>
    <hr />

