@model IEnumerable<QuanLyThuVien.ViewModels.viewSach>

@{
    ViewData["Title"] = "Sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sách trong thư viện</h2>

<br />
<p>
    <a asp-action="Create" asp-controller="Sach" class="btn btn-primary">Add book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaXuatBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamXuatBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienMuon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhaXuatBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamXuatBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TienMua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TienMuon)
                </td>
                <td>
                    <a href="#" class="btn btn-primary a-btn-slide-text" onclick="btnView(@item.IDSach)">
                        <span><strong>View</strong></span>
                    </a>
                    <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkslategray" onclick="btnEdit(@item.IDSach)">
                        <span><strong>Edit</strong></span>
                    </a>
                    <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkred" onclick="btnDelete(@item.IDSach)">
                        <span><strong>Delete</strong></span>
                    </a>
                    <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkgreen" onclick="btnAdd(@item.IDSach)">
                        <span><strong>Add</strong></span>
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>
<script>
    function openPopup({
        url = "",
        param =
        {
            w: 800, h: 800, top: 0, bottom: 0
        },
        isPopup = true
    }) {
        var pa = url.indexOf("?") == -1 ? "?" : "";
        window.open(url + pa + "&isPopup=" + isPopup, "", "width=" + param.w + ",height=" + param.h + ",top=" + param.top + "bottom=" + param.bottom);
    }
    function btnView(id) {
        this.openPopup({
            url: '/Sach/DetailsPopup/' + id
        });
    }
    function btnEdit(id) {
        window.location.href = "/Sach/Edit/" + id;
    }
    function btnAdd(id) {
        window.location.href = "/ChiNhanh/themSach/" + id;
    }
    function btnDelete(id) {
        window.location.href = "/Sach/Delete/" + id;
    }
</script>