@model QuanLyThuVien.Models.ChiNhanh

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Thông tin chi nhánh";
}

<h2>Thông tin chi nhánh</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDChiNhanh)
        </dt>
        <dd id="idChiNhanh">
            @Html.DisplayFor(model => model.IDChiNhanh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenChiNhanh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenChiNhanh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayThanhLap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDQuanLy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDQuanLy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDNhanVien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDNhanVien)
        </dd>
    </dl>
</div>
<div>
    <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkslategray" onclick="btnEdit()">
        <span><strong>Edit</strong></span>
    </a>
    <a asp-action="Index" class="btn btn-default">Quay lại danh sách</a>
</div>
<script>
    var id = $("#idChiNhanh").text();
    function btnEdit() {
        window.location.href = "/ChiNhanh/Edit/" + id;
    }
</script>
