@model IEnumerable<QuanLyThuVien.Models.ChiNhanh>

@{
    ViewData["Title"] = "Danh sách chi nhánh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách chi nhánh</h2>

@if (Model != null)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDChiNhanh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenChiNhanh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayThanhLap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDQuanLy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDNhanVien)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDChiNhanh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenChiNhanh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThanhLap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQuanLy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDNhanVien)
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary a-btn-slide-text" onclick="btnDetail(@item.IDChiNhanh)">
                            <span><strong>Detail</strong></span>
                        </a>
                        <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkslategray" onclick="btnEdit(@item.IDChiNhanh)">
                            <span><strong>Edit</strong></span>
                        </a>
                        <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkred" onclick="btnDelete(@item.IDChiNhanh)">
                            <span><strong>Delete</strong></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model == null)
{
    <h2>Bạn không có quyền xem thông tin này</h2>
}
    <script>
        function btnEdit(id) {
            window.location.href = "/ChiNhanh/Edit/" + id;
        }
        function btnDetail(id) {
            window.location.href = "/ChiNhanh/Details/" + id;
        }
        function btnDelete(id) {
            window.location.href = "/ChiNhanh/Delete/" + id;
        }
    </script>
