
@{
    ViewData["Title"] = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách nhân viên</h2>
@if (ViewBag.Result != null)
{

<p>
    <a asp-action="Create" class="btn btn-primary">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID Nhân viên</th>
            <th>Tài khoản</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Loại nhân viên</th>
            <th>Địa chỉ</th>
            <th>Tên chi nhánh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Result)
            {
        <tr>
            <td>
                @item.IDNhanVien
            </td>
            <td>
                @item.TaiKhoan
            </td>
            <td>
                @item.HoTen
            </td>
            <td>
                @Convert.ToDateTime(item.NgaySinh)
            </td>
            <td>
                @if (item.LoaiNhanVien == 0)
                        {
                @:Quản lý
                        }
                @if (item.LoaiNhanVien == 1)
                        {
                @:Nhân viên
                        }
            </td>
            <td>
                @item.DiaChi
            </td>
            <td>
                @item.TenChiNhanh
            </td>
            <td>
                <a href="#" class="btn btn-primary a-btn-slide-text" onclick="btnDetail(@item.IDNhanVien)">
                    <span><strong>Detail</strong></span>
                </a>
                <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkslategray" onclick="btnEdit(@item.IDNhanVien)">
                    <span><strong>Edit</strong></span>
                </a>
                <a href="#" class="btn btn-primary a-btn-slide-text" style="background-color:darkred" onclick="btnDelete(@item.IDNhanVien)">
                    <span><strong>Delete</strong></span>
                </a>
            </td>
        </tr>
            }
    </tbody>
</table>
}
@if (ViewBag.Result == null)
{
<h2>Bạn không có quyền xem thông tin này</h2>
}
<br />
<br />
<script>
    function btnEdit(id) {
        window.location.href = "/NhanVien/Edit/" + id;
    }
    function btnDetail(id) {
        window.location.href = "/NhanVien/Details/" + id;
    }
    function btnDelete(id) {
        window.location.href = "/NhanVien/Delete/" + id;
    }
</script>
