@using PagedList.Mvc;
@using PagedList;
@model IPagedList<QuanLyThuVien.ViewModels.viewSach>



@{
    ViewData["Title"] = "Trang chủ";
}
<br />
<div class="form-group" style="color:black; text-align:right;">
    <select id="selectloai" style="font-size:13px">
        <option value="0">Tất cả</option>
        @foreach (var iteml in this.ViewBag.loaisach)
        {
            <option value="@iteml.IDLoai">@iteml.TenLoai</option>
        }
    </select>
    <input style="margin-top:10px" type="text" name="keysearch" id="keysearch" value="" placeholder="Tìm kiếm sách/ tác giả..." />
    <input style="margin-top:10px" type="button" onclick="timSach()" name="name" value="Tìm Kiếm" />
</div>
<script>
    function timSach() {
        var key = document.getElementById('selectloai');
        var idvalue = key[key.selectedIndex].value;
        var keysearch = document.getElementById('keysearch').value;
        if (idvalue == 0) {
            window.location.href = "/Home/timSach?key=" + keysearch + "&id=&page=";
        }
        else {
            window.location.href = "/Home/timSach?key=" + keysearch + "&id=" + idvalue + "&page=";

        }
    }
</script>
<body>
    <div class="col-lg-2">
        <h4 style="text-align:center; color:white;"><b>Danh mục</b></h4></>
        <div class="list-group">
            <a class="list-group-item" href="/Home/Index"><u>Tất cả</u></a>
            @foreach (var itemls in this.ViewBag.loaisach)
            {
                <div>
                    <a class="list-group-item" href="#" onclick="viewSachTheoLoai(@itemls.IDLoai)"><u>@itemls.TenLoai</u></a>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-10">
        @foreach (var item in this.ViewBag.Result)
        {
            <div class="col-lg-4">
                <div class="item">
                    <div class="img"> <img src="~/HinhAnh/@item.HinhAnh" alt=""></div>
                    <a href="#" onclick="viewSach(@item.IDSach);">
                        @item.TenSach
                    </a>
                    <div class="tentacgia">@item.TacGia</div>
                    <div class="price">Tiền đặt cọc:&nbsp; @item.TienMua vnd</div>
                    <div class="price">Giá thuê sách:&nbsp; @item.TienMuon vnd</div>
                </div>
            </div>
        }

    </div>
    <div class="form-group" style="text-align:center">
        <button class="btn btn-primary" onclick="btnBackPage()">Trang trước</button>
        Trang @(this.ViewBag.Result.PageCount < this.ViewBag.Result.PageNumber ? 0 : this.ViewBag.Result.PageNumber) / @this.ViewBag.Result.PageCount
        <button class="btn btn-primary" onclick="btnNextPage()">Trang sau</button>
    </div>
</body>

<script>
    var n = 1;
    function viewSach(id) {
        window.location.href = "/Sach/Details/" + id;
    }
    function viewSachTheoLoai(id) {
        window.location.href = "/Home/Index/" + id;
    }
</script>
<script>
    function btnNextPage() {
        if (@ViewBag.Result.PageNumber < @ViewBag.Result.PageCount) {
            n = @ViewBag.Result.PageNumber + 1;
            if (@ViewBag.idloaisach != 0) {
                window.location.href = "/Home/Index?id=" + @ViewBag.idloaisach + "&page=" + n;
            }
            if (@ViewBag.idloaisach == 0) {
                window.location.href = "/Home/Index?id=&page=" + n;
            }

        }
        else {
            alert("Hết sách rồi!!!")
        }
    }
        function btnBackPage() {
        if (@ViewBag.Result.PageNumber != 1) {
            n = @ViewBag.Result.PageNumber -1;
            if (@ViewBag.idloaisach != 0) {
                window.location.href = "/Home/Index?id=" + @ViewBag.idloaisach+ "&page=" + n;
            }
            if (@ViewBag.idloaisach == 0) {
                window.location.href = "/Home/Index?id=&page=" + n;
            }
        }
        else {
            alert("Về page 0 là bug đó!!!")
        }
    }

</script>


